.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #719c64;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar div:hover {
    background-color: #d3d3b8;
    cursor: pointer;
}

.header{
    text-align: center;
    margin: 20px;
}


body {
    background-color: #b4b4b4;
    font-size: 18px;
    line-height: 1.8;
    color: #333333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar a {
    text-decoration: none;
    color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.navbar a:hover {
    background-color: #d3d3b8;
    color: #444444;
    border-radius: 5px;
}

.cover {
    height: 400px;
}
.track {
    text-align: center;
}

.tracklist-section {
    margin: 20px;
    padding: 20px;
    background-color:  #FF7e30;
    border-radius: 8px;
    max-width: 500px;
}

.track-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracklist {
    text-align: center;
    list-style-type: none;
    width: 500px;
    padding: 0;
    font-size: 1em;
    color: #333;

}

.tracklist li {
    margin: 5px 0;
}

.textbox {
    background-color: #d7d7d7;
    padding: 25px;
    width: 100%;
    max-width: 320px;
    height: auto;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    
    
}

.album-info {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}


.album-description {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
}