.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5DC;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.header{
    text-align: center;
}