.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5DC;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.header{
    text-align: center;
    margin: 20px;
}

.photo{
    height: 300px;
}

body{
    background-color: #a3c0ea;
}

.textbox{
    background-color: white;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    gap: 10px;
}